hr{
    border-top: 3px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-left: 15px;
    flex-shrink: 2;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    flex: 0 1 auto;

}

.right {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav {
    font-size: 6pt;
    text-align: center;
    box-sizing: border-box;
    width: 105px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-left: auto;
    margin-top: 30px;
}

.highlight {
    text-align: center;
    box-sizing: border-box;
    width: 105px;
    background-color: yellow;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-bottom: 80px;
}

.product {
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: flex-start;
    
}

.product-image {
    margin: auto;
    flex: 0 1 auto
}

h2 {
    font-size: 16pt;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

a { 
    text-decoration: none; 
}

.bottom-half {
    margin-top: 40px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
}

#add-to-cart {
    margin-top: auto;
    margin-bottom: auto;
    padding: 7px 20px 7px 20px;
    border-style: solid;
    border-width: 2px;
    background-color: yellow;
}

p {
    margin-right: 30px;
    font-size: 14pt;
}

select {
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
}

.product-thumbnails {
    border: 3px solid #555;
}

button {
    border: 2px solid black;
    padding: 5px 20px 5px 20px;
    background: yellow;
}

.main {
    display: flex;
}