hr{
    border-top: 3px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-left: 15px;
    flex-shrink: 2;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    flex: 0 1 auto;

}

.right {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav {
    font-size: 6pt;
    text-align: center;
    box-sizing: border-box;
    width: 105px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-left: auto;
    margin-top: 30px;
}

.highlight {
    text-align: center;
    box-sizing: border-box;
    width: 105px;
    background-color: yellow;
}

.highlight {
    background-color: yellow;
}

.product-thumbnails {
    margin-top: 50px;
}

.remove {
    font-size: 13px;
    margin-bottom: 30px;
}

a { 
    text-decoration: none; 
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-bottom: 80px;
}

.product {
    margin: auto;
    width: 200px;
}

.price{
    font-size: 18px;
    text-align: center;
    flex-basis: 300px;
}

.bottom-line {
    height: 2px;
    background: black;
    display: flex;
    width: 1000px;
    flex-basis: 1000px;
}

.main {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.product-one {
    display: flex;
    align-items: center;
    width: 70%;
}

.product-two {
    display: flex;
    align-items: center;
    width: 70%;
}

.text {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1000px;
}

.bottom {
    display: flex;
    flex-basis: 600px;
    justify-content: flex-end;
}

button {
    text-align: center;
    border: 2px solid black;
    padding: 5px 20px 5px 20px;
    background: yellow;
    display: flex;
    justify-content: flex-end;
}

.checkout{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: 20px;
}

.total{
    font-size: 18px;
    text-align: center;
    flex-basis: 1100px;
}

.total-price{
    font-size: 18px;
    text-align: center;
    flex-basis: 200px;
}